* {
    --main-colour: #00b074ff;
}

.bg-main-colour {
    background-color: var(--main-colour);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.login-page-wrapper {
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("https://elblogverde.com/wp-content/uploads/2018/05/que-es-el-cultivo-hidroponico-istock-600x338.jpg") center center / cover no-repeat;
    display: flex;
    align-items: flex-start;
    padding: 2rem 1rem;
    justify-content: center;
    overflow: hidden;
    z-index: 100;
}

.login-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#loginCard {
    position: relative;
    z-index: 2;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
