* {
    --main-colour: #00B074ff;
}

.bg-main-colour {
    background-color: var(--main-colour);
}

#loginCard {
    background-color: white !important;
    border-radius: 2rem !important;
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

