/* Main content styles */
.mainContent {
    margin-left: 130px;
    width: 100%;
}

/* Tablet */
@media screen and (min-width: 800px) and (max-width: 1024px) {
    .mainContent {
        margin-left: 80px;
        width: calc(100% - 80px);
    }
}

/* Mobile */
@media screen and (max-width: 799px) {
    .mainContent {
        margin-left: 0;
        width: 100vw;
        padding-top: 80px;
    }
}