* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cd__main{
    display: block !important;
}

.profile-page {
    display: flex;
    min-height: 250px;

}
@media (max-width: 990px) {
    .profile-page {
        padding-top: 0;
    }
}
.profile-page .content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: auto;
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
}
@media (max-width: 990px) {
    .profile-page .content {
        max-width: 420px;
        padding: 0;
        border-radius: 0;
    }
}
.profile-page .content__cover {
    position: relative;
    background: linear-gradient(150deg, #29bd8a 20%, #2d9cdb 100%);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.profile-page .content__bull {
    display: block;
    height: 12rem;
    position: relative;
    overflow: hidden;
}

.profile-page .content__bull span:nth-child(1) {
    display: block;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}
.profile-page .content__bull span:nth-child(2) {
    display: block;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}
.profile-page .content__bull span:nth-child(3) {
    display: block;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}
.profile-page .content__bull span:nth-child(4) {
    display: block;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}
.profile-page .content__bull span:nth-child(5) {
    display: block;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}
.profile-page .content__bull span:nth-child(1) {
    width: 5rem;
    height: 5rem;
    top: -6%;
    left: -3%;
    background: rgba(255,255,255,0.12);
}
.profile-page .content__bull span:nth-child(2) {
    width: 8rem;
    height: 8rem;
    top: 18%;
    left: 18%;
    background: rgba(255,255,255,0.05);
}
.profile-page .content__bull span:nth-child(3) {
    width: 3rem;
    height: 3rem;
    top: 8%;
    right: 2%;
    background: rgba(255,255,255,0.05);
}
.profile-page .content__bull span:nth-child(4) {
    width: 6rem;
    height: 6rem;
    top: 28%;
    right: 12%;
    background: rgba(255,255,255,0.1);
}
.profile-page .content__bull span:nth-child(5) {
    width: 4rem;
    height: 4rem;
    top: 70%;
    left: -6%;
    background: rgba(255,255,255,0.04);
}
.profile-page .content__avatar {
    width: 12rem;
    height: 12rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 50%);
    background: #ffffff url("src/assets/images/jardinero.png") center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
}
.profile-page .content__avatar::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

@media (max-width: 990px) {
    .profile-page .content__avatar {
        width: 11rem;
        height: 11rem;
        border: 0.3rem solid #fff;
        box-shadow: none;
    }
}
.profile-page .content__actions {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}
@media (max-width: 990px) {
    .profile-page .content__actions {
        padding: 0.8rem 2rem;
    }
}
.profile-page .content__actions a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 0.9rem;
}
@media (max-width: 990px) {
    .profile-page .content__actions a {
        padding: 0.5rem;
    }
}
@media (max-width: 990px) {
    .profile-page .content__actions a span {
        display: none;
    }
}
.profile-page .content__actions a svg {
    width: 2rem;
    margin-right: 0.4rem;
}
@media (max-width: 990px) {
    .profile-page .content__actions a svg {
        margin: 0;
    }
}
.profile-page .content__actions a svg path:last-child {
    opacity: 0.5;
}

.profile-page .content__title {
    margin-top: 7.5rem;
    text-align: center;
    order: 1;
}
@media (max-width: 990px) {
    .profile-page .content__title {
        margin-top: 1.5rem;
    }
}
.profile-page .content__title h1 {
    margin-bottom: 0.1rem;
    font-size: 2.4rem;
}
@media (max-width: 990px) {
    .profile-page .content__title h1 {
        font-size: 1.8rem;
    }
}
.profile-page .content__title span {
    font-size: 1rem;
}
@media (max-width: 990px) {
    .profile-page .content__title span {
        font-size: 0.9rem;
    }
}
.profile-page .content__description {
    margin-top: 2.5rem;
    text-align: center;
    order: 2;
}
@media (max-width: 990px) {
    .profile-page .content__description {
        margin-top: 1.5rem;
        order: 3;
    }
}
.profile-page .content__description p {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}
@media (max-width: 990px) {
    .profile-page .content__description p {
        font-size: 1rem;
    }
}
.profile-page .content__list {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    list-style-type: none;
    order: 3;
}
@media (max-width: 990px) {
    .profile-page .content__list {
        margin-top: 1.5rem;
        order: 2;
    }
}
.profile-page .content__list li {
    padding: 0 1.5rem;
    text-align: center;
    font-size: 1rem;
}
@media (max-width: 990px) {
    .profile-page .content__list li {
        font-size: 0.8rem;
    }
}
.profile-page .content__list li span {
    display: block;
    margin-bottom: 0.1rem;
    font-weight: bold;
    font-size: 1.6rem;
}
@media (max-width: 990px) {
    .profile-page .content__list li span {
        font-size: 1.2rem;
    }
}
.profile-page .content__button {
    margin: 3rem 0 2rem;
    text-align: center;
    order: 4;
}
@media (max-width: 990px) {
    .profile-page .content__button {
        margin: 1.5rem 0 2.2rem;
    }
}
.profile-page .content__button .button {
    display: inline-block;
    padding: 1.2rem 1.8rem;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(100deg, #1d8cf8 30%, #3358f4 100%);
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.profile-page .content__button .button:hover {
    color: #fff;
}
@media (max-width: 990px) {
    .profile-page .content__button .button {
        padding: 1rem 1.4rem;
        font-size: 0.9rem;
    }
}



input{
    background-color: #DFF0FAff;
}




