/* CSS HEX */
* {
    --main-colour: #00B074ff;
    --hover-main-colour: #D9F3EAff;
    --secondary-color: #2D9CDBff;
    --hover-secondary-color: #DFF0FAff;
    --page-background: #F3F2F7ff;
    --element-bg: #d61616;

}

/* Estilos generales para el cuerpo */
body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

/* Estilos para la sidebar */
.sidebar {
    /* Altura completa */
    height: 100%;
    /* Ancho de la sidebar */
    width: 250px;
    /* Sidebar fija */
    position: fixed;
    top: 0;
    left: 0;
    /* Color de fondo */
    background-color: var(--element-bg);
    /* Espaciado superior */
    padding-top: 20px;

    background-color: #ffffff;
}

.title{
    font-size: 32px;
    padding-bottom: 20px;
}



.ant-menu-item:hover {
    background-color: #1890ff; /* Color de fondo al pasar el mouse */
    color: #fff; /* Color del texto al pasar el mouse */
}

.ant-menu-item-selected {
    background-color: #D9F3EA !important;
    color: #29BD8A !important;
}

/* Estilos para el contenido principal */
.mainContent {
    /* Espacio para la sidebar */
    box-sizing: border-box;
    width: 100%;
    margin-left: 260px;
    padding: 20px;
    background-color: var(--page-background);
}