.sessionBar {
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #F3F2F7;
    box-sizing: border-box;
    justify-content: flex-end;
}

@media screen and (min-width: 800px) and (max-width: 1024px){

    .sessionBar{
        width: calc(100% - 80px);
        left: 80px;
        padding-top: 0px;
    }

}

@media screen and (max-width: 799px) {
    .sessionBar {
        width: 100vw;
        left: 0;
        box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
    }
}



.Divider {
    height: 30px;
    border-left: 2px solid #cfcdd6;
    margin-left: 30px;
    margin-right: 10px;
}


.sessionBarItem {
    font-family: Helvetica, serif;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    color: #000000;
}

.perfil {
    padding-right: 15px;
    font-size: 24px;
    color: #00B074ff;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Notification Styles */
.notification-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.notification-icon {
    font-size: 24px;
    color: #2D9CDB;
    transition: color 0.3s ease;
}

.notification-icon:hover {
    color: #2183b9;
}

.notification-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff4d4f;
    color: white;
    font-size: 12px;
    min-width: 15px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}
